<!DOCTYPE html>
<html lang="en">
		<% include ../templates/head %>
		
<body class="bg">
	<div class="izbira center text-center">
		<div class="buttons">
			<a href="/uploadImage"><i class="fas fa-upload"></i></a>
			<a href="/gallery"><i class="far fa-images"></i></a>
		</div>
	</div>
</body>
</html>