<head>
  <title>Photo App</title>
    
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawesome-all.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/photoapp.js"></script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>
</head>